---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
---

<Layout title="Brief de Proyecto">
	<main class="container">
		<h1 class="center">Brief del Proyecto: <ins>Desarrollo de un Sitio Web</ins></h1>
		<form>
			<label for="nameClient">
				Nombre y Apellidos
				<input type="text" name="nameClient" placeholder="Nombre Apellido Apellido" required>
			</label>

			<label for="date">
				Fecha
				<input type="date" name="date">
			</label>

			<abbr>?</abbr>
			<p class="none">Ejemplo: El objetivo de este proyecto es crear una página web profesional y atractiva para [nombre de la empresa]. La página web servirá como una plataforma para promover y presentar [productos/servicios] y permitirá a los visitantes obtener información relevante, ponerse en contacto y realizar acciones deseadas.</p>
			<textarea name="objectivesProject" id="" cols="30" rows="10" placeholder="Objetivos del proyecto" required></textarea>

			<abbr>?</abbr>
			<p class="none">[Descripción breve del negocio, incluyendo los productos/servicios que ofrece, su público objetivo y cualquier otro detalle relevante.]</p>
			<textarea name="descriptionBussines" id="" cols="30" rows="10" placeholder="Descripción del Negocio" required></textarea>
			
			<abbr>?</abbr>
			<p class="none">Presentar la identidad y los valores de la marca de [nombre de la marca]. Proporcionar información detallada sobre los productos/servicios ofrecidos. Facilitar a los visitantes la comunicación con [nombre de la empresa] a través de un formulario de contacto. Promover la interacción en las redes sociales y ampliar la presencia en línea. Optimizar la experiencia del usuario en dispositivos móviles y garantizar una navegación fluida.</p>
			<textarea name="objectivesSite" id="" cols="30" rows="10" placeholder="Objetivos del Sitio Web" required></textarea>

			<abbr>?</abbr>
			<p class="none">Ejemplo: Página de inicio con una introducción atractiva y una vista general de los productos/servicios destacados. Páginas informativas detalladas para cada producto/servicio ofrecido. Formulario de contacto para que los visitantes puedan enviar consultas o solicitudes de información. Integración de las redes sociales relevantes para fomentar la participación y compartir contenido. Diseño responsivo que se adapte a diferentes dispositivos y tamaños de pantalla.</p>
			<textarea name="functionRequired" id="" cols="30" rows="10" placeholder="Funcionalidades Requeridas" required></textarea>

			<abbr>?</abbr>
			<p class="none">[Describe el estilo visual deseado para el sitio web, como colores, tipografía, imágenes y cualquier otra preferencia de diseño.]</p>
			<textarea name="aspectVisual" id="" cols="30" rows="10" placeholder="Aspectos Visuales" required></textarea>

			<abbr>?</abbr>
			<p class="none">[Describe el tipo de contenido que se incluirá en el sitio web, como texto, imágenes, videos, etc. También mencionar si proporcionará usted el contenido o si se necesitará ayuda para crearlo.]</p>
			<textarea name="contentSite" id="" cols="30" rows="10" placeholder="Contenido del Sitio Web" required></textarea>

			<abbr>?</abbr>
			<p class="none">[Algún sitio web de referencia o estilo visual específico en mente, incluir enlaces o descripciones.]</p>
			<textarea name="referencyDesing" id="" cols="30" rows="10" placeholder="Referencias de Diseño" required></textarea>

			<div class="grid">
				<div class=""></div>
				<div class=""></div>
				<div class=""></div>
				<div class=""></div>
				<div class=""></div>
				<button type="submit">Enviar</button>
			</div>
		</form>
	</main>
</Layout>

<style>
	abbr{cursor: help;}
	.none{
		display: none;
	}
</style>

<script>
const abbrElements = document.querySelectorAll('abbr');

abbrElements.forEach(abbr => {
	const relatedElement = abbr.nextElementSibling;

	abbr.addEventListener('mouseover', () => {
		relatedElement.classList.toggle('none');
	});

	abbr.addEventListener('mouseout', () => {
		relatedElement.classList.toggle('none');
	});
});

</script>
